<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="true"
         colors="true">
    <testsuites>
        <testsuite name="Main">
            <directory>./Tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
            <exclude>
                <directory suffix="Interface.php">src/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>